$primary-color: #ded5d0;
$secondary-color: #710a35;
$third-color: #e4becf;
//"node-sass -w scss/ -o dist/css/ --recursive"
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.5;

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;

        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
@mixin background_banner {
  .banner {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-color: rgba($primary-color, $background-opacity);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.7;
      z-index: -1;
    }
    & > * {
      z-index: 0;
      position: relative;
    }
  }
}

//set text color
@function set-text-color($color) {
  @if (lightness($color) < 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin easeOut {
  transition: all 1.5s ease-out;
}

//media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
