@import "config";
@import "menu";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

//HEADINGS
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($secondary-color, 2), 0.2);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1 rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bio bio bio-img"
    "job-1 job-2 job-3";
  grid-template-columns: repeat(3, 1fr);

  .bio-img {
    grid-area: bio-img;
    height: 250px;
    width: auto;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job-1;
  }
  .job-2 {
    grid-area: job-2;
  }
  .job-3 {
    grid-area: job-3;
  }

  .job {
    background: rgba(lighten($secondary-color, 2), 0.2);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

//slideshow
.project-info {
  margin: 20px;
  padding: 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;

  .right-side {
    align-content: center;
    .model3d {
      border: 5px solid $secondary-color;
    }

    .about p {
      font-size: 20px;
      justify-content: left;
      background: darken($primary-color, 10);
      padding: 2rem;
    }
  }

  .imgs {
    display: subgrid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    max-width: 500px;
    border: $secondary-color solid 3px;
    grid-gap: 5px;
    margin: 5px;
    border: 5px solid $secondary-color;
  }
  .imgs img {
    width: 100%;
  }
}

// Work/Projects
.projects {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px solid $secondary-color;
    &:hover {
      opacity: 0.5;
      border-color: #222;
      @include easeOut;
    }
  }
}

//background banner
@include background_banner;

//Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;
    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  font-weight: bolder;
  font-size: 28px;
  &:hover {
    color: set-text-color($third-color);
    width: 100%;
    transition: width 0.3s;
  }
}
.btn::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}
.btn:hover::after {
  background-color: $secondary-color;
  width: 100%;
  transition: width 0.3s;
}

#main-foter {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";

//slide show
